<!DOCTYPE html>
<html>
<head>
	<title>SpeakEasy</title>
</head>
<body>
<h2>Welcome</h2>
<div class="container hidden">
	<div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/diary">Go to Your Diary</a>
        </div>
    </div>
</div>
</body>
</html>