<!-- Navigation bar -->
<ul class="nav">

	<div class="logo">
		<img src="../assets/img/SpeakEasyLogo.png">
	</div>

	<li>
		<a href="signin.hbs">Sign-In</a>
	</li>
	<li>
		<a href="signup.hbs">Sign-Up</a>
	</li>
	<li>
		<a href="entry.hbs">Journal Entry</a>
	</li>
	<li>
		<a href="user.hbs">Edit Profile</a>
	</li>
</ul>


<!-- Image Banner -->
<div class="banner">
	<img class="banner-image" alt="banner image" src="../assets/img/handshake.jpg">
</div>




<!-- List of Journal Entries -->
<div class="container">
	<div class="row top-30">
		<div class="col-md-2 col-sm-2">
			<a class="btn btn-default" id="editUserButton" href="/user">Edit Your Profile</a>
		</div>
		<div class="col-md-2 col-sm-2">
			<a class="btn btn-default" href="/logout">Logout</a>
		</div>
		<div class="col-md-2 col-sm-2">
			<a class="btn btn-default" id="newEntryButton" href="/entry">New Entry</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="entry-container">
				<h1>Entries</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Private</th>
							<th>Delete Entry</th>
						</tr>
					</thead>
					<tbody>
						<tr id="form-row">
							<form id="user-form">
								<td colspan="4">
									<input placeholder="Enter a first name" id="user-last-name" type="text" />
								</td>
								<td colspan="4">
									<input placeholder="Enter a last name" id="user-first-name" type="text" />
								</td>
								<td colspan="4">
									<input placeholder="Enter a email" id="user-email" type="text" />
								</td>
								<td colspan="4">
									<input placeholder="Enter a password" id="user-password" type="text" />
								</td>
								<td>
									<button type="submit" class="btn btn-success">Create User</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div>
</div>

<!-- Footer -->
<footer id="main-footer" class="grid">
	<div>&copy; Copyright 2018 SpeakEasy</div>
</footer>

<!-- Custom Script -->
<script src="../js/diary.js" type="text/javascript"></script>