<div class= "vidBackground"></div>
    
     <!-- Video Background -->
    <video class="vid" autoloop="true" autoplay="true">
        <source src="assets/video/video.mp4" type="video/mp4" media="">
    </video>
    
    
    <div class="signInBody">

<!-- Sign In Box -->
    <section>
        <div class="container">
            <div class="form_content">
                <h2>What is SpeakEasy?</h2>
                <p>SpeakEasy is a journal entry app with integrated voice recognition and the capability of translating your
                    entry into multiple languges- without you ever having to lift a finger to type!</p>
            </div>
            <div class="login_form">
                <h1>Sign In</h1>
                <form>
                    <input type="text" name="" required="" placeholder="Username">
                    <input type="password" name="" required="" placeholder="Password">
                    <input type="submit" name="" value="Login">
                </form>
                <a href="#">Forget Password</a>
            </div>
        </div>
            <div class="row top-30">
        <div class="col-md-12 col-sm-2">
            <a class="btn btn-default" href="/signup">Create a New Account</a>
        </div>
    </div>
    </section>
</div>
</div>
