<html>
    {{>header}}
    <body>
        <div class="container">
            <ul class="nav">
            <!-- Navigation bar -->

                <div class="logo">
                    <img src="../assets/img/SpeakEasyLogo.png">
                </div>
                <li>
                    <a href="/diary" id="diaryLink">Journal</a>
                </li>
                <li>
                    <a href="/entry" id="entryLink">Journal Entry</a>
                </li>
                <li>
                    <a href="/user" id="userLink">Edit Profile</a>
                </li>
                <li>
                    <a href="/logout" id="logoutLink">Logout</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{ body }}}
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
    <!-- Custom Script -->
    <script src="../js/main.js" type="text/javascript"></script>
</html>